@page "/cases"
@rendermode InteractiveServer
@using System.Net.Http.Json
@using SmartAccessioningPortal.Web.Models
@inject IHttpClientFactory HttpClientFactory
@inject NavigationManager NavigationManager

<h3>Intake Cases</h3>

@if (CaseList is not null)
{
    <div style="display:flex; gap:16px; margin-bottom:20px;">
        <div style="border:1px solid #ccc; padding:12px; border-radius:8px;">
            <strong>Total Cases</strong><br />
            @CaseList.Count
        </div>

        <div style="border:1px solid #ccc; padding:12px; border-radius:8px;">
            <strong>Draft</strong><br />
            @CaseList.Count(x => x.Status == "Draft")
        </div>

        <div style="border:1px solid #ccc; padding:12px; border-radius:8px;">
            <strong>Ready For Review</strong><br />
            @CaseList.Count(x => x.Status == "ReadyForReview")
        </div>
    </div>
}

@if (!string.IsNullOrWhiteSpace(ErrorMessage))
{
    <p style="color:red">@ErrorMessage</p>
}

@if (CaseList is null)
{
    <p>Loading cases...</p>
}
else if (!CaseList.Any())
{
    <p>No cases found.</p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Case ID</th>
                <th>Status</th>
                <th>Test Type</th>
                <th>Created By</th>
                <th>Created At</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in CaseList)
            {
                <tr>
                    <td>
                        <a href="@($"/cases/{item.CaseId}")">@item.CaseId</a>
                    </td>
                    <td>
                        <span style="@GetStatusBadgeStyle(item.Status)">
                            @item.Status
                        </span>
                    </td>
                    <td>@item.TestType</td>
                    <td>@item.CreatedBy</td>
                    <td>@item.CreatedAt.ToLocalTime().ToString("g")</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private List<CaseListItemModel>? CaseList;
    private string? ErrorMessage;

    private string GetStatusBadgeStyle(string status)
{
    return status switch
    {
        "ReadyForReview" => "background-color:#d1e7dd; color:#0f5132; padding:4px 8px; border-radius:8px;",
        "Draft" => "background-color:#fff3cd; color:#664d03; padding:4px 8px; border-radius:8px;",
        _ => "background-color:#e2e3e5; color:#41464b; padding:4px 8px; border-radius:8px;"
    };
}

    protected override async Task OnInitializedAsync()
    {
        try
        {
            var client = HttpClientFactory.CreateClient("ApiClient");
            CaseList = await client.GetFromJsonAsync<List<CaseListItemModel>>("api/cases");
        }
        catch (Exception ex)
        {
            ErrorMessage = $"Error loading cases: {ex.Message}";
        }
    }
}